 /* Home Page Block 3 */
 #block_3 {
    margin: auto;
    text-align: center;
  }

  #block_3 img {
    margin-top: 60px;
    width: 122px;
    height: 63px;
  }

  #block_3>h1 {
    font-size: 2rem;
    margin: 40px;
  }

  #block_3>p {
    margin: auto;
    margin-top: -20px;
    width: 450px;
    line-height: 25px;
    color: grey;
  }

  #block_3 span {
    font-weight: bold;
    color: black;
  }

  #block_3 button {
    margin: 40px 0px 60px 0px;
    padding: 10px 50px;
    font-size: 1rem;
    border-radius: 10px;
  }
