/* Bottom Section of Login   */
#bottom {
  width: 100%;
  background-color: #181c20;
  height: 150px;
  padding-top: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

#bottom > div:first-child {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 60vw;
  margin: auto;
  height: 50px;
}

#bottom > div:first-child {
  display: flex;
  align-items: center ;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0px 150px;
}

#bottom > div:first-child > div {
  display: flex;
  align-items: center;
  color: #f1eeee;
  margin: auto;
}
#bottom > div:last-child {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 27px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  font-weight: 100;
}

#bottom > div:last-child > div {
  display: flex;
  align-items: center;
  color: #f1eeee;
  margin: auto;
}
#bottom > div > div > p{
  margin-top: 11px;
}
#bootomfotter > div {
  margin-left: 50px;
}
#bottomfotter > div:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
#bottomfotter > div:nth-child(1) > div:nth-child(1) p {
  margin-top: 10px;
}
#bottomfotter > div:nth-child(2) > div {
  width: 35px;
}
@media all and (min-width: 160px) and (max-width: 768px) {
  #bottom {
    width: 100vw;
  }
  #bottom > div:first-child {
    width: 20vw;
    margin-left: -30px;
    border: 0px;
  }
}
