#Middle {
  width: auto;
  height: 530px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  font-family: sans-serif;
  position: relative;
}

#Middle > div:last-child img {
  width: 665px;
  height: 530px;
}

#middleDiv {
  width: 500px;
  margin: auto;
  margin-top: 30px;
}

#middleDiv > h1 {
  margin-top: -20px;
  font-size: 28px;
  text-align: center;
}

form {
  width: 451px;
  height: auto;
  margin: auto;
  margin-top: -15px;
}

form > input {
  width: 420px;
  height: 30px;
  padding-left: 20px;
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid grey;
}

form > input:last-child {
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #ce2525;
}

form > label {
  font-size: 16px;
}

form + div {
  width: 400px;
  margin: auto;
  text-align: center;
}

form + div p {
  margin-top: 10px;
}

form + div p + p {
  padding-top: -200px;
  margin-top: -12px;
}
#span {
  color: blue;
}

/* signup Select tag */
#companySize,
#industry {
  width: 445px;
  height: 30px;
  font-size: 16px;
  color: grey;
  padding-left: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}
#industry {
  margin-bottom: 10px;
}

#middleDiv + div {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  border-top: 2px solid black;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding-top: 25px;
}

#middleDiv + div h1 {
  margin-left: -40px;
  font-weight: 100;
}

#middleDiv + div button {
  background-color: #f1eeee;
  border: 0px solid;
  border-radius: 20px;
  margin-top: 12px;
  padding: 0px 18px;
  height: 35px;
}

/* overlap */
#overlap{
  width: 300px;
  height: 180px;
  background-color: rgba(235, 235, 235,0.95);
  position: absolute;
  top: 150px;
  left: 730px;
  padding-left: 30px;
  font-family: sans-serif;
  border-radius: 10px;
}
#overlap>div:nth-child(1){
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* background-color: aqua; */
  /* display: flex;    */
  align-items: center;
  padding-top: 15px;
}
#overlap>div:nth-child(1) p{
  width: 20px;
  padding: 8px 12px;
  background-color: #f16631;
  font-size: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white    ;
}
#overlap>div>div:last-child{
  margin-left: 80px;
}
#overlap h1{
  font-size: 20px;
}
#overlap>div:nth-child(3)>p{
  font-size: 16px;
  color: #f16631;
}

/* media */
@media all and (min-width: 160px) and (max-width:768px){
  #Middle {
    grid-template-columns: repeat(1, 1fr);
  }
  #Middle > div:last-child img {
    width: 0;
    height: 0;
  }
  #overlap{
   display: none;
  }

}